/*body{
	background-color: #29B894;
}*/

form-group{
	display: inline-block;
}
textarea { resize:none;
}

.alert h3{
	margin-top: 5px;
}

.alert table{
	margin-bottom: 5px;
}

.alert table tr{
	height: 57px;
}

.alert{
	margin-bottom: 10px;
}

h3{
	font-size: 18px;
}

@media screen and (max-width: 600px) {
  .hide-on-mobile {
    visibility: hidden;
    display: none;
  }
}
